*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Edu TAS Beginner', cursive;
}



body{
	font-size: 16px;
    background: url(bg.jpg);
    margin: 0;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.age-calculate{
    width: 100%;
    max-width: 600px;
    color: #fff;
    text-align: center;
    padding: 30px;
    border-radius: 24px;
    background: linear-gradient(to bottom, #007193 50% , #06024e);
}
.age-calculate h1{
    font-size: 40px;
    margin: 0 0 26px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}
.age-calculate input[type="date"]{
    width: 60%;
    display: block;
    margin: 0 auto 20px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.age-calculate button{
    width: 30%;
    display: block;
    margin: 0 auto 20px;
    font-size: 16px;
    padding: 19px;
    border-radius: 10px;
    border: none;
    background: #06b0e9;
    color: lavenderblush;
    font-weight: 800;
}
#calculateAge{
	font-size: 24px;
}

#calculate{
    cursor: pointer;
}

button:hover{
 font-size: large;
 background: gray;
}